# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

out

bazel-bin
bazel-elastic-demo
bazel-genfiles
bazel-out
bazel-testlogs

bazel-testlogs

elastic-demo.i*
